input,
option,
button {
  font-family: "Open Sans", "Times New Roman", Times, serif;
  font-size: 15px;
}

textarea {
  resize: none;
}

input#productImg {
  display: flex;
}
textarea {
  width: 100%;
}
.insert-item-btn {
  color: white;
  padding: 15px 30px;
  width: 100%;
  border-radius: 15px;
  border: none;
  background-color: #003882;
}
.select-inputs {
  width: 100%;
}
.banner-title {
  font-family: "Roboto", "Times New Roman", Times, serif;
  background-color: #003882;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  font-size: 60px;
}